hr{
    position: relative;
    top: 20px;
    border: none;   
    height: 12px;
    background: black;
}
.wait{
    text-align: center;
    margin-top: 5rem;
}

.card-img-top {
    height: 185px !important;
}

.card {
    margin: 20px !important;
}

.card-body {
    padding: 15px !important;
}

.card-title {
    font-size: 15px !important;
}

.table {
    border: 1px solid #ccc !important;
    margin: 20px !important
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-20 {
    margin : 20px !important;
}
.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: 0.5px solid rgba(0, 116, 217, 0.8);
    color: #FFF;
    background: rgba(0, 116, 217, 0.8);
    text-align: center;
    font: 27px Arial, sans-serif;
  }